// Font Variables
$heading-font: "Space Grotesk";
$body-font: "Inter";

// Color Variables
$primary-color: #252525;
$extra-color: #666;
$background-color: #f0f0f0;

// Media Queries
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
